body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #bf231b;
  font-weight: bold;
}

header {
  border-top: 5px solid #40dce4;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

section {
  background: #003041;
  padding: 3rem 4rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #40dce4;
}

section h1 {
  color: white;
  font-size: 3rem;
}

.container {
  width: 70%;
}

section.events, section.sponsors {
  background: #40dce4;
  color: black;
}

section.faq {
  background: white;
  color: black;
}

section.faq h1, h2 {
  color: #40dce4;
}

section.sponsors h2, section.events h2 {
  color: white;
}

section.events h3 {
  color: white;
}

.donate {
  text-align: center;
}

button {
  margin: 3rem 0 0;
  padding: 1rem 3rem;
  background: #bf231b;
  border-radius: 50px; 
  border: none;
  color: white;
  font-size: 2rem;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 2rem;
}


@media (max-width: 600px) {
  header img {
    width: 250px;
  }
  .container {
    width: 90%;
  }
  section {
    padding: 1rem 1rem 2rem;
  }
}

.item-container {
  text-align: left;
  font-size: 0;
  display: flex;
}

.item {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  margin: 0;
  width: 20%;
  float: left;
  border: 0;
}

.item-img {
  max-width: 170px;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
}

.img-title {
  font-size: 14px;
  text-align: center;
  width: 550px;
}

.btn {
  background-color:#003041;
  border-radius:30px; 
  -moz-border-radius:30px; 
  -webkit-border-radius:30px;
  display: inline-block;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-white {
  background-color: #ffffff;
}